*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    font-family: "Poppins";
    background-color: #54aaa3;
}

.container{
    min-width: 1267px;
    width: 100px;
    margin: 0 auto;
    padding: 0 20px;
}